pool:
  vmImage: 'Ubuntu 16.04'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'

- script: |
    npm ci
  displayName: 'Install dependencies'

- script: |
    npm run lint
  displayName: 'Lint'

- script: |
    npm run test
  displayName: 'Test'

- script: |
    npm run build
  displayName: 'Build'

- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: 'test-reports/*.xml'

- task: DeleteFiles@1
  inputs:
    contents: |
        .rpt2_cache
        node_modules

- task: PublishBuildArtifacts@1
  inputs:
    pathtoPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: 'drop'
